@model WebBanQuanAo.Models.Color

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>Quản lí màu sắc</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HexCode" class="form-label">Chọn màu sắc</label>
                <div class="d-flex gap-2">
                    <input id="colorPickerInput" type="color" class="form-control form-control-color" asp-for="HexCode"  title="Choose your color">
                    <input id="renderHexCodeInput" readonly value="#563d7c" class="form-control" required />
                </div>
                <span asp-validation-for="HexCode" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            var colorPickerInput = $('#colorPickerInput');
            var renderHexCodeInput = $('#renderHexCodeInput');

            if (colorPickerInput.val()) {
                renderHexCodeInput.val(colorPickerInput.val());
            }

            colorPickerInput.on('input', function (event) {
                renderHexCodeInput.val(event.target.value);
            });
        })
    </script>
}
