<div class="modal fade" id="modalConfirmAdmin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">XÁC NHẬN HỦY ĐƠN HÀNG</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalBody" class="modal-body">
                Bạn có chắc là muốn hủy bỏ đơn hàng!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">HỦY</button>
                <a href="" id="btn-modal-confirm-accept" class="btn btn-danger text-white">ĐỒNG Ý</a>
            </div>
        </div>
    </div>
</div>

