@{
    ViewData["Title"] = "Lỗi máy chủ";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<div id="page-content">
    <!-- Lookbook Start -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="empty-page-content text-center">
                    <h1>500 Internal Server Error</h1>
                    <p>The page you requested does not response.</p>
                    <p><a href="/Shop" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Lookbook Start -->
</div>