@{
    Layout = null;
}

<div class="site-cart">
    <a href="#" class="site-header__cart" title="Cart">
        <i class="icon anm anm-bag-l"></i>
        <span id="CartCount" class="site-header__cart-count" data-cart-render="item_count">0</span>
    </a>
    <!--Minicart Popup-->
    <div id="header-cart" class="block block-cart">
        <h1>You are not logged in!</h1>
        <p>Please log in to view your cart.</p>
    </div>
    <!--End Minicart Popup-->
</div> 